 <!-- About Section -->
    <section class="success" id="about">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2>About</h2>
                    <hr>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-4 col-lg-offset-2">
                    <p>Current <strong>UX/HCI Master's degree student</strong>  with a background in <strong>Front End Development</strong>.  Strong communicator with experience in with collaborating with various stakeholders, cross-functional teams in an agile project environment.</p>
                </div>
                <div class="col-lg-4">
                    <p>I aim to be the missing link between the business, user and technology needs, using user research, rapid prototyping and modern web technologies to transform complex problems and pain points into elegant digital solutions.</p>
                </div>
            </div>
        </div>
    </section>
