 <!-- About Section -->
    <section class="success" id="about">
        <div class="container">
            <div class="row">
              <div class="col-lg-2 col-lg-offset-1 ">
                  <img class="profile-image" src="/img/profile.png" alt="Picture of Nelli">
              </div>
                <div class="col-lg-7 col-lg-offset-1">
                    <h2>About</h2>
                    <p>Current <strong>UX/HCI Master's degree student</strong>  with a background in <strong>Front End Development</strong>.  Strong communicator with experience in with collaborating with various stakeholders, cross-functional teams in an agile project environment.</p>
                    <p>I aim to be the missing link between the business, user and technology needs, using user research, rapid prototyping and modern web technologies to transform complex problems and pain points into elegant digital solutions.</p>
                </div>
            </div>
        </div>
    </section>
