<!-- Header -->
<header>
  <div class="container">
    <div class="row">
      <div class="col-lg-6">
      <img class="img-responsive" src="img/wink.gif" alt="unicorn" />
        </div>
      <div class="col-lg-12">
        <div class="intro-text">
           <span class="name">Nelli<br/> Holopainen</span>
          <span class="skills">{{ site.skills }}</span>
          <span class="explanation">*Facilitating collaboration between the why, the what and the how in digital projets.</span>
        </div>

      </div>
    </div>
  </div>
</header>
