{% include css/bootstrap.min.css %}
{% include css/main.css %}

a {
  color: #121640;
}

p {
  font-weight: 200;
}

.portfolio-modal a {
 text-decoration: underline;
}

.navbar-default {
  background-color: #121640;
}

.navbar-default .navbar-brand {
    text-decoration: none;
}

section h2 {
    margin-bottom: 30px;
}

body, .navbar-brand {
  font-family: 'Poppins', sans-serif;
  font-weight: 200;
}

header .intro-text .name {
  font-family: 'Josefin Sans', sans-serif;
  text-align: left;
  line-height: 1;
  letter-spacing: -0.1em;
  font-weight: 300;
  color: #121640;
  margin-left: -0.1em;
}

header .intro-text .skills {
    text-transform: uppercase;
    letter-spacing: 0.15em;
    font-weight: bold;
    color: #a8003b;
    text-align: left;
    display: block;
}

header {
  color: #121640;
  background-color: #ffffff;
}

.header-container {
  display: flex;
 align-items: center;
}


.header-container img{
  width: 30%;
  margin-right: 10px;
  padding: 10px;
}

@media (min-width: 968px) {
  header .intro-text .name {
    font-size: 7.75em;
  }

  .header-container img{
    width: 30%;
    margin-right: 30px;
    padding: 20px;
  }
}


section.success {
    color: #fff;
    background: #121640;
}

section.portfolio {
    background: #f8c3d6;
}

section.success .profile-image {
   float: right;
}

.btn-success {
    color: #ffffff;
    background-color: #a8003b;
    border-color: #a8003b;
}

.btn-success:hover, .btn-success:focus, .btn-success:active, .btn-success.active, .open>.dropdown-toggle.btn-success {
    color: #ffffff;
    background-color: #a8003b;
}


.portfolio-row {
 margin-bottom: 20px;
 position: relative;
}

.portfolio .post-category {
  text-transform: uppercase;
  color: #a8003b;
}

@media (min-width: 968px) {
  .portfolio-item {
        background: white;
      padding: 40px;
      position: absolute;
      width: 70%;
      top: 25%;
      right: 0;
  }
}
.portfolio-item a {
  text-decoration: none;
}

.portfolio-item a:hover {
  text-decoration: underline;
  color: #121640;
}
